<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "SimpleTest suite name" parallel="classes" thread-count="10">
    <test name = "SimpleTest test name">
        <classes>
            <class name = "ua.ithillel.testng.FirstTest"/>
            <class name = "ua.ithillel.testng.SecondTest"/>
        </classes>
    </test>
</suite>